<h3><%= @article.title %> by <%= @article.author %></h3>

<div class='form'>
	<%= form_for [:admin, @article] do |f| %>
		<div class='form-item'>
			<div class='form-label'>
				<%= f.label :image %>
			</div>
			<div class='form-input'>
				<%= f.file_field :image %>
			</div>
		</div>
		<div class='form-label'>
			<div class='form-label'>
				<%= f.label :title %>
			</div>
			<div class='form-input'>
				<%= f.text_field :title %>
			</div>
		</div>
		<div class='form-item'>
			<div class='form-label'>
			<%= f.label :author %>
			</div>
			<div class='form-input'>
				<%= f.select :author, options_for_select(['Anthony Rigato', "Peter Scholtes", 'James Lowe', 'Mitch Sharrard']) %>
			</div>
		</div>
		<div class='form-item'>
			<div class='form-label'>
				<%= f.label :category %>
			</div>
			<div class='form-input'>
				<%= f.select :category, options_for_select(['basketball', 'soccer', 'football', 'baseball', 'other']) %>
			</div>
		</div>
		<div class='form-item'>
			<div class='form-label'>
				<%= f.label :article_type %>
			</div>
			<div class='form-input'>
				<%= f.select :article_type, options_for_select(['sports','stuff']) %>
			</div>
		</div>
		<div class='form-item'>
			<div class='form-label'>
				<%= f.label :body %>
			</div>
			<div class='form-input'>
				<%= f.text_area :body, class: 'ckeditor' %>
			</div>
		</div>
		<div class='form-item'>
			<%= f.submit 'Post' %>
		</div>
	<% end %>
</div>

