<h2>New Article</h2>
<ul>
	<%= form_for [:admin, @article] do |f| %>
		<li><%= f.label :image %><%= f.file_field :image %></li>
		<li><%= f.label :title %><%= f.text_field :title %></li>
		<li><%= f.label :author %><%= f.select :author, options_for_select(['Anthony Rigato', "Peter Scholtes", 'James Lowe', 'Mitch Sharrard']) %></li>
		<li><%= f.label :category %><%= f.select :category, options_for_select(['basketball', 'soccer', 'football', 'baseball', 'other']) %></li>
		<li><%= f.label :body %><%= f.text_area :body %></li>
		<li><%= f.submit 'Post' %></li>
	<% end %>
</ul>