<h2>New Poll</h2>

<%= form_for [:admin, @poll], html: { multipart: true } do |f| %>
	<div class='form-item'>
		<%= f.label :question %>
		<%= f.text_field :question %>
	</div>
	<h4>Options</h4>
	<div id='options'>
		<%= f.fields_for :options do |r| %>
			<%= render 'option_fields', :f => r %>
		<% end %>
		<div class='links'>
		 <%= link_to_add_association 'add another choice', f, :options %>
		</div>
	</div>
	<%= f.submit 'Create' %>
<% end %>