<div class='podcast-container'>
	<h2>Podcasts</h2>
	<h4 class='podcast-links'>Check us out on <%= link_to 'itunes', 'https://itunes.apple.com/ca/podcast/sports-n-stuff-with-jim-n-mitch/id681295536?mt=2' %>!</h4>

	<section id='audio'>
	</section>

	<% @podcasts.each do |podcast| %>
		<div class='podcast-list-container'>
			<div class='podcast-title'>
				<h3><%= podcast.title %></h3>
				<p><%= raw(podcast.description) %></p>
			</div> 
			<div class='podcast-buttons'>
				<div class='buttons'>
					<%= link_to 'Listen', podcast.podcast_file.url, class: 'podcast-play button-tiny' %> <%= link_to 'Download', podcast.podcast_file.url, class: 'podcast-download button-tiny' %>
				</div>
			</div>
		</div>
	<% end %>
</div>