<!DOCTYPE html>
<html>
<head>
  <title>Sports 'N' Stuff</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class='main-title'>
		<h1><%= link_to "Sports 'N' Stuff", root_path %></h1>
		<p>With Jim 'N' Mitch</p>
	</div>
	<header class='main-header'>
		<ul class='nav-links'>
			<%= link_to sports_articles_path, class: 'nav-link' do %>
				<li>Sports</li>
			<% end %>
			<%= link_to stuff_articles_path, class: 'nav-link' do %>
				<li>Pop Culture</li>
			<% end %>
			<%= link_to writers_path, class: 'nav-link' do %>
				<li>Writers</li>
			<% end %>
			<%= link_to podcasts_path, class: 'nav-link' do %>
				<li>Podcast</li>
			<% end %>
		</ul>
	</header>

<%= yield %>

</body>
</html>
